body {
  margin: 0;
}

body li {
  list-style: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px;
  background-color: #333;
  color: #fff;
  margin-top: auto;
  flex-shrink: 0;
}

@media (max-width: 726px) {
  .recipe-image {
    width: 100%;
    height: auto;
  }
}